
<% if user_signed_in? %>
  <% if post.like_user(current_user.id) %>
    <%= button_to post_like_path(post.like_user(current_user.id), post_id: post.id), method: :delete, id: "like-buttons", remote: true do %>
      <i class="fas fa-heart"></i>
      <span>
        <%= post.likes.count %>
      </span>
    <% end %>
  <% else %>
    <%= button_to post_likes_path(post), id: "like-buttons", remote: true do %>
      <i class="far fa-heart"></i>
      <span>
        <%= post.likes.count %>
      </span>
    <% end %>
  <% end %>
<% else %>
  <%= link_to new_user_session_path do %>
    <i class="far fa-heart"></i>
      <span>
        <%= post.likes.count %>
      </span>
  <% end %>
<% end %>
