      <% if user_signed_in? %>
        <% if post.like_user(current_user.id) %>
          <%= button_to post_like_path(post.like_user(current_user.id), post_id: post.id), method: :delete, id: "show-like-buttons", remote: true do %>
          <div class="side-link clearfix">
            <span class="like-icon">
                <i class="fas fa-heart heart-in-show"></i>
                <span class="like-text">LIKE</span>
                <span class="num-of-like"><%= post.likes.count %></span>
            </span>
          </div>
          <% end %>
        <% else %>
          <%= button_to post_likes_path(post), id: "show-like-buttons", remote: true do %>
            <div class="side-link clearfix">
              <span class="like-icon">
                <i class="far fa-heart heart-in-show"></i>
                <span class="like-text">LIKE</span>
                <span class="num-of-like"><%= post.likes.count %></span>
              </span>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <span class="like-icon">
            <i class="far fa-heart heart-in-show"></i>
            <span class="like-text">LIKE</span>
            <span class="num-of-like"><%= post.likes.count %></span>
          </span>
        <% end %>
      <% end %>
