- if current_user
  = form_tag("/posts/#{post.id}/comments", method: :post) do
    %textarea#userComment{:cols => "30", :name => "content", :placeholder => "このプロダクトについての感想をコメントする", :required => "required", :rows => "2"}
    = succeed "\">" do
      .commentSubmit
    %input.commentSubmit-btn{:type => "submit", :value => "送信"}
- else
  .comment-notice
    %h2 コメントをするにはログインが必要です。
    = link_to "ログイン", url: new_user_session_path
    \/
    \#{link_to "アカウント登録", new_user_registration_path}
- if comments
  - comments.each do |comment|
    .comment_area
      .spotlight.clearfix
        .box-userImg
          .userImg
            = link_to "/users/#{comment.user.id}" do
              = image_tag comment.user.image.url
        .userInfo.clearfix
          = link_to "/users/#{comment.user.id}" do
            .username
              %span= comment.user.name
          %div
            .company
              %span= comment.user.company
            .position
              %span= comment.user.position
        .user-comment
          = simple_format(comment.content)
        - if user_signed_in?
          - if comment.user_id == current_user.id
            .destroy
              = link_to "コメントを削除する", "/posts/#{post.id}/comments/#{comment.id}", method: :delete
