<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <title>AppsTimes</title>
  <meta property="og:title" content="AppsTimes" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content=" https://appstimes.jp" />
  <meta property="og:image" content="https://s3-ap-northeast-1.amazonaws.com/appstimes-image/uploads/post/image/14/appstimes.jpg" />
  <meta property="og:site_name" content="AppsTimes" />
  <meta property="og:description" content="最新・注目のWebサービス/アプリを掲載するメディア" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@AppsTimes" />

</head>


<% unless user_signed_in? %>
  <div class="hello-inner">
    <div class="mainview">
      <div class="hello">
        <div class="hello-title">Discover  your  favorite!</div>
        <p class="hello-description">AppsTimesは、最新・人気のプロダクトを投稿・閲覧できるサービスです。<br>
        自分が作ったプロダクトや、わくわくするサービスを共有しましょう！</p>
      </div>
      <div class="top-signup">
        <div class="social-signup-wrapper">
          <div class="top-twitter-login">
            <%= link_to  user_twitter_omniauth_authorize_path do %>
              <div class="twitter--box">
                <i class="fab fa-twitter top"></i>
                <span>Twitterで登録</span>
              </div>
            <% end %>
          </div>
        </div>
        <div class="separator">
          <span>OR</span>
        </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="top-field">
          <%= f.label :name, "ユーザー名" %><br />
          <%= f.text_field :name, autofocus: true, required: "required", placeholder: "appstimes" %>
        </div>

        <div class="top-field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, placeholder: "apps@appstimes.jp"%>
        </div>

        <div class="top-field">
          <%= f.label :password %>
          <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", placeholder: "********" %>
        </div>
        <span class="signup-help-text">8文字以上、英・数・記号が使えます</span>
        <div class="actions">
          <%= f.submit "登録", class:"top-signup-btn"  %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

  <% if user_signed_in? %>
    <div class="adjust">
    </div>
  <% end %>

  <div class="pc-head-banner container">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 【PC】TOP -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:970px;height:90px"
         data-ad-client="ca-pub-9870776519307971"
         data-ad-slot="9157678259"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="sp-head-banner container top">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 【モバイル】TOP/カテゴリー/ランキング -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:320px;height:50px"
         data-ad-client="ca-pub-9870776519307971"
         data-ad-slot="9628273935"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

<div class="container1 top">
  <% if user_signed_in? %>
    <div class="content clearfix">

<!--       <div class="date clearfix">
        <h3 class="rank-header"><i class="fas fa-trophy"></i>週間ランキング (<%=@begin%>〜<%=@end%>)</h3>
          <%= link_to "ranking", class:"pc-see-more", target:"_blank" do %>
            <i class="fas fa-arrow-right"></i>もっと見る
          <%end%>
      </div> -->

      <div class="date clearfix">
        <h3 class="rank-header"><i class="fas fa-trophy"></i>Featured Apps
        <span class="describe">話題のサービスをお届け</span></h3>
          <%= link_to "ranking", class:"pc-see-more", target:"_blank" do %>
          <span style="color:#fff;"><i class="fas fa-chevron-circle-right"></i>
            もっと見る</span>
          <%end%>
      </div>

      <div class="rankPostsList clearfix">
        <%= render partial: "rank_index" , locals: {post: @post, rank: @rank, likes: @likes, like: @like} %>
      </div>

      <div class="sp-see-more">
          <%= link_to "ranking", target:"_blank" do %>
          <i class="fas fa-chevron-circle-right"></i>
            もっと見る
          <%end%>
      </div>

      <div class="date">
        <h3><i class="fas fa-flag"></i>What's New
        <span class="describe">新しく投稿されたサービス一覧</span></h3>
      </div>

      <div class="postsList clearfix">
        <%= render partial: "posts", locals: {posts: @posts, post: @post, likes: @likes, like: @like} %>
      </div>
    </div>

  <% else %>

      <div class="date clearfix">
        <h3 class="rank-header"><i class="fas fa-trophy"></i>Featured Apps
        <span class="describe">話題のサービスをお届け</span></h3>
        <%= link_to "ranking", class:"pc-see-more", target:"_blank" do %>
          <span class="more-post" style="color:#fff;"><i class="fas fa-chevron-circle-right"></i>
        もっと見る</span>
        <%end%>
      </div>

      <div class="rankPostsList clearfix">
        <%= render partial: "rank_index" , locals: {post: @post, rank: @rank, likes: @likes, like: @like} %>
      </div>

      <div class="sp-see-more">
          <%= link_to "ranking", target:"_blank" do %>
            <i class="fas fa-chevron-circle-right"></i>
            もっと見る
          <%end%>
      </div>

    <div class="content1 clearfix">
      <div class="date">
        <h3><i class="fas fa-flag"></i>What's New
        <span class="describe">新しく投稿されたサービス一覧</span></h3>
      </div>

      <div class="postsList clearfix">
        <%= render partial: "posts", locals: {posts: @posts, post: @post, likes: @likes, like: @like} %>
      </div>
    </div>
  <% end %>

</div>
