<div class="container1 post-p preview">
  <div class="content2 no_margin_preview clearfix">
    <div class="service-header clearfix">
      <div class="header-content clearfix">
        <div class="service-thumnail">
          <div class="thumnail-content">
            <%= image_tag @post.image.to_s, class:"img" %>
          </div>
        </div>

        <div class="header-info">
          <div class="service-title">
            <%=@post.title %>
          </div>
          <div class="service-subtitle">
            <%=@post.subtitle %>
          </div>

          <div class="service-category">
            <span><%= @post.category.name %></span>
          </div>

        </div>

      </div>

    </div>

    <div class="main-container">
      <div class="primary-content">

        <section class="box-thumnail">
           <div class="canvas">
            <%= image_tag @post.image.to_s, class:"img" %>
          </div>

          <!-- sp contents-->
            <div class="mobile-header-content clearfix">
              <div class="service-thumnail">
                <div class="thumnail-content">
                  <%= image_tag @post.image.to_s, class:"img" %>
                </div>
              </div>

              <div class="header-info">
                <div class="service-title">
                  <%=@post.title %>
                </div>
                <div class="service-subtitle">
                  <%=@post.subtitle %>
                </div>

                  <div class="service-category">
                    <span><%= @post.category.name %></span>
                  </div>

              </div>
            </div>
          <!-- sp contents-->

          <div class="thumnails">
          </div>
        </section>

        <div class="box-title">
          <h2><i class="fas fa-check-circle"></i>サービス概要</h2>
        </div>
        <section class="box-about">
          <div class="description">
            <%= text_url_to_link(simple_format(h(@post.content))).html_safe %>
          </div>
        </section>

      <% unless @post.relateds %>
        <div class="box-title">
          <h2><i class="fas fa-star"></i>関連リンク</h2>
        </div>
        <section class="box-related">
          <div class="relateds">
          </div>
        </section>
      <% end %>

        <div class="box-title">
          <h2><i class="fas fa-comments"></i>コメント</h2>
        </div>
        <section class="box-comment">
          <div class="people-container clearfix">
            <div class="poster-box">
              <span class="pos-div">このサービスを投稿してくれた人</span>
              <div class="poster">

                  <div class="people-userImg">
                    <%= image_tag @post.user.image.to_s, class:"userImg" %>
                  </div>
                  <div class="poster-name">
                    <%= @post.user.name %>
                  </div>

              </div>
            </div>

<!--             <div class="developer-box">
              <span class="pos-div">サービス提供者</span>
              <div class="developer">
                <%= link_to "/users/#{@post.user.id}" do %>
                  <div class="people-userImg">
                    <%= image_tag @post.user.image.to_s, class:"userImg" %>
                  </div>
                  <div class="developer-name">
                    <%= @post.user.name %>
                  </div>
                <% end %>
              </div>
            </div> -->
          </div>


        </section>
      </div>
    </div>

    <aside>
       <div class="sub-content">
        <%= render template: 'posts/previewside',  locals: {post: @post} %>
       </div>
    </aside>

        </div>
      </div>
    </div>


  </div>
</div>
