.links.clearfix
  - if @post.service_url
    .website-link.clearfix
      = link_to post.service_url, target:"_blank" do
        %span.link-icon
          %i.fas.fa-external-link-alt
        .sideinfo
          .side-link
            Website
          .side-url
            = post.service_url
        %span.link-icon2
          %i.fas.fa-angle-right
  - unless @post.appstore_url == "" || @post.appstore_url.nil?
    .appstore-link.clearfix
      = link_to post.appstore_url, target:"_blank" do
        %span.link-icon
          %i.fab.fa-app-store
        .sideinfo
          .side-link
            App Store
          .side-url
            iPhone, iPad
        %span.link-icon2
          %i.fas.fa-angle-right
  - unless @post.googleplay_url == "" || @post.googleplay_url.nil?
    .googleplay-link.clearfix
      = link_to post.googleplay_url, target:"_blank" do
        %span.link-icon
          %i.fab.fa-android
        .sideinfo
          .side-link
            Google Play
          .side-url
            Android
        %span.link-icon2
          %i.fas.fa-angle-right
- unless @post.twitter =="" || @post.twitter.nil? && @post.facebook == "" || @post.facebook.nil?
  .social-box
    .social
      SNS
    .sns-list
      - unless @post.twitter == "" || @post.twitter.nil?
        = link_to "https://twitter.com/#{@post.twitter}", target:"_blank" do
          %span.twitter
            %i.fab.fa-twitter
      - unless @post.facebook == "" || @post.facebook.nil?
        = link_to "https://facebook.com/#{@post.facebook}", target:"_blank" do
          %span.facebook
            %i.fab.fa-facebook
.btn-box.clearfix
  .back-btn
    = form_for @post, url: "new" do |f|
      = f.hidden_field :title
      = f.hidden_field :subtitle
      = f.hidden_field :service_url
      = f.hidden_field :image
      = f.hidden_field :image_cache
      = f.hidden_field :appstore_url
      = f.hidden_field :googleplay_url
      = f.hidden_field :content
      = f.hidden_field :category_id
      = f.hidden_field :twitter
      = f.hidden_field :facebook
      = fields_for :comments do |c|
        = c.hidden_field :content
      = f.submit "戻る" ,class:"back-to-post", name: "preview"
  .post-btn
    = form_for @post do |f|
      = f.hidden_field :title
      = f.hidden_field :subtitle
      = f.hidden_field :service_url
      = f.hidden_field :image
      = f.hidden_field :image_cache
      = f.hidden_field :appstore_url
      = f.hidden_field :googleplay_url
      = f.hidden_field :content
      = f.hidden_field :category_id
      = f.hidden_field :twitter
      = f.hidden_field :facebook
      = fields_for :comments do |c|
        = c.hidden_field :content
      = f.submit "投稿する" ,class:"submit-post"
