<div class="container1">
  <% if user_signed_in? %>
    <div class="content clearfix">

      <div class="date clearfix">
        <h3 class="rank-header"><i class="fas fa-trophy"></i>週間ランキング (<%=@begin%>〜<%=@end%>)</h3>
      </div>

      <div class="rankPostsList clearfix">
        <%= render partial: "rank" , locals: {post: @post, rank: @rank, likes: @likes, like: @like} %>
      </div>

  <% else %>


      <div class="date clearfix">
        <h3 class="rank-header"><i class="fas fa-trophy"></i>週間ランキング (<%=@begin%>〜<%=@end%>)</h3>

      </div>

      <div class="rankPostsList clearfix">
        <%= render partial: "rank" , locals: {post: @post, rank: @rank, likes: @likes, like: @like} %>
      </div>
  <% end %>

    </div>
</div>
