<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

  <% twitter_card = get_twitter_card_info(@post ? @post : nil) %>
  <meta name="twitter:card" content=<%=twitter_card[:card]%> />
  <meta name="twitter:site" content=<%=twitter_card[:site]%> />
  <meta property="og:url" content=<%=twitter_card[:url]%> />
  <meta property="og:title" content=<%=twitter_card[:title]%> />
  <meta property="og:description" content=<%=twitter_card[:description]%> />
  <meta property="og:image" content=<%=twitter_card[:image]%> />

</head>


<div class="pc-head-banner post-page">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- 【PC】TOP -->
  <ins class="adsbygoogle"
  style="display:inline-block;width:970px;height:90px"
  data-ad-client="ca-pub-9870776519307971"
  data-ad-slot="9157678259"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<div class="container1 post-p">
  <div class="content2 clearfix">

  <div class="ad-top clearfix">
    <!-- 【レスポンシブ】Ad LEFT -->
    <div class="adleft">
      <div class="sponsor-text">Sponsored Link</div>
      <hr class="clear">
<!--       <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
            style="display:inline-block;width:336px;height:280px"
            data-ad-client="ca-pub-9870776519307971"
            data-ad-slot="9229357761"
        data-ad-format="rectangle"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script> -->
      <%= render partial: 'ad', locals: { ad: @ad } %>

    </div>


  <!-- 【レスポンシブ】Ad RIGHT -->
    <div class="adright">
          <div class="sponsor-text">Sponsored Link</div>
          <hr class="clear">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-9870776519307971"
      data-ad-slot="7970378309"
      data-ad-format="rectangle"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
  </div>

    <div class="service-header clearfix">
      <div class="header-content clearfix">
        <div class="service-thumnail">
          <div class="thumnail-content">
            <%= image_tag @post.image.to_s, class:"img" %>
          </div>
        </div>

        <div class="header-info">
          <div class="service-title">
            <%=@post.title %>
          </div>
          <div class="service-subtitle">
            <%=@post.subtitle %>
          </div>
          <%= link_to "/categories/#{@post.category_id}" do %>
          <div class="service-category">
            <span><%= @post.category.name %></span>
          </div>
          <% end %>
        </div>

      </div>

    </div>

    <div class="main-container">
      <div class="primary-content">

        <section class="box-thumnail">
           <div class="canvas">
            <%= image_tag @post.image.to_s, class:"img" %>
          </div>

          <!-- sp contents-->
            <div class="mobile-header-content clearfix">
              <div class="service-thumnail">
                <div class="thumnail-content">
                  <%= image_tag @post.image.to_s, class:"img" %>
                </div>
              </div>

              <div class="header-info">
                <div class="service-title">
                  <%=@post.title %>
                </div>
                <div class="service-subtitle">
                  <%=@post.subtitle %>
                </div>
                <%= link_to "/categories/#{@post.category_id}" do %>
                  <div class="service-category">
                    <span><%= @post.category.name %></span>
                  </div>
                <% end %>
              </div>
            </div>
          <!-- sp contents-->

          <div class="thumnails">
          </div>
        </section>

        <div class="box-title">
          <h2><i class="fas fa-check-circle"></i>サービス概要</h2>
        </div>
        <section class="box-about">
          <div class="description">
            <%= text_url_to_link(simple_format(h(@post.content))).html_safe %>
          </div>
        </section>

      <% unless @post.relateds %>
        <div class="box-title">
          <h2><i class="fas fa-star"></i>関連リンク</h2>
        </div>
        <section class="box-related">
          <div class="relateds">
          </div>
        </section>
      <% end %>

        <div class="box-title">
          <h2><i class="fas fa-comments"></i>コメント</h2>
        </div>
        <section class="box-comment">
          <div class="people-container clearfix">
            <div class="poster-box">
              <span class="pos-div">このサービスを投稿してくれた人</span>
              <div class="poster">
                <%= link_to "/users/#{@post.user.id}" do %>
                  <div class="people-userImg">
                    <%= image_tag @post.user.image.to_s, class:"userImg" %>
                  </div>
                  <div class="poster-name">
                    <%= @post.user.name %>
                  </div>
                <% end %>
              </div>
            </div>

<!--             <div class="developer-box">
              <span class="pos-div">サービス提供者</span>
              <div class="developer">
                <%= link_to "/users/#{@post.user.id}" do %>
                  <div class="people-userImg">
                    <%= image_tag @post.user.image, class:"userImg" %>
                  </div>
                  <div class="developer-name">
                    <%= @post.user.name %>
                  </div>
                <% end %>
              </div>
            </div> -->
          </div>


          <%= render partial: "comments", locals:{ post: @post, comments: @comments} %>
        </section>
      </div>
    </div>

    <aside>
       <div class="sub-content">
        <%= render partial: "side", locals: {post: @post, posts: @posts, likes: @likes, like: @like} %>
       </div>
    </aside>

    <div class="p-footerBar--transparent u-displaySp is-show">
      <div class="p-footerBar__inner">
        <div class="p-articleAction is-ios">

          <div class="p-articleAction__share p-articleAction__share--first">
            <%= link_to "https://twitter.com/intent/tweet?url=https://appstimes.jp/posts/#{@post.id}&text=#{@post.title}%20+#{@post.subtitle}%0a&via=AppsTimes", class:'twitter-share-button', target: '_blank'   do %>
              <div class="sns_circle-twitter">
                <span class="f-icon-twitter"><i class="fab fa-twitter  "></i></span>
              </div>
            <% end %>
          </div>

          <div class="p-articleAction__share p-articleAction__share--first" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large" data-mobile-iframe="true">
            <%= link_to "https://www.facebook.com/sharer/sharer.php?u=https://appstimes.jp/posts/#{@post.id}}", class:"fb-xfbml-parse-ignore", class:'facebook-share-button', target: '_blank'   do %>
              <div class="sns_circle-facebook">
                <span><i class="fab fa-facebook-f"></i></span>
              </div>
            <% end %>
          </div>

          <div class="p-articleAction__share p-articleAction__share--first">
            <%= link_to "http://b.hatena.ne.jp/entry/s/appstimes.jp/posts/#{@post.id}", class:'hatena-share-button', target: '_blank'   do %>
              <div class="sns_circle-hatena">
                <span><%= image_tag "hatenabookmark.svg", class:"f-icon-hatebu"%></span>
              </div>
              <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
            <% end %>
          </div>



          <div class="p-articleAction__share p-articleAction__share--first">
            <%= link_to "https://social-plugins.line.me/lineit/share?url=https://appstimes.jp/posts/#{@post.id}&text=#{@post.title}+#{@post.subtitle}+%0ahttps://appstimes.jp/posts/#{@post.id}", class:'line-share-button', target: '_blank' do %>

              <div class="sns_circle-line">
                <span class="f-icon-line"><%= image_tag "line.svg"%></span>
              </div>

             <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
