%head{:prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"}
  - twitter_card = get_twitter_card_info(@post ? @post : nil)
  %meta{:content => "<haml_loud", :name => "twitter:card"}/
%body
  %p
    twitter_card[:card] /&gt;
    = succeed "twitter_card[:site]" do
      %meta{:content => "<haml_loud", :name => "twitter:site"}/
    = succeed "twitter_card[:url]" do
      %meta{:content => "<haml_loud", :property => "og:url"}/
    = succeed "twitter_card[:title]" do
      %meta{:content => "<haml_loud", :property => "og:title"}/
    = succeed "twitter_card[:description]" do
      %meta{:content => "<haml_loud", :property => "og:description"}/
    = succeed "twitter_card[:image]" do
      %meta{:content => "<haml_loud", :property => "og:image"}/
  .pc-head-banner.post-page
    %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
    / 【PC】TOP
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-9870776519307971", "data-ad-slot" => "9157678259", :style => "display:inline-block;width:970px;height:90px"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
  .container1.post-p
    .content2.clearfix
      .ad-top.clearfix
        / 【レスポンシブ】Ad LEFT
        .adleft
          .sponsor-text Sponsored Link
          %hr.clear/
          %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
          %ins.adsbygoogle{"data-ad-client" => "ca-pub-9870776519307971", "data-ad-format" => "rectangle", "data-ad-slot" => "9229357761", :style => "display:inline-block;width:336px;height:280px"}
          :javascript
            (adsbygoogle = window.adsbygoogle || []).push({});
          / <haml_loud> render partial: &#39;ad&#39;, locals: { ad: @ad } </haml_loud>
        / 【レスポンシブ】Ad RIGHT
        .adright
          .sponsor-text Sponsored Link
          %hr.clear/
          %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
          %ins.adsbygoogle{"data-ad-client" => "ca-pub-9870776519307971", "data-ad-format" => "rectangle", "data-ad-slot" => "7970378309", :style => "display:block"}
          :javascript
            (adsbygoogle = window.adsbygoogle || []).push({});
      .service-header.clearfix
        .header-content.clearfix
          .service-thumnail
            .thumnail-content
              = image_tag @post.image.to_s, class:"img"
          .header-info
            .service-title
              = @post.title
            .service-subtitle
              = @post.subtitle
            = link_to "/categories/#{@post.category_id}" do
              .service-category
                %span= @post.category.name
      .main-container
        .primary-content
          %section.box-thumnail
            .canvas
              = image_tag @post.image.to_s, class:"img"
            / sp contents
            .mobile-header-content.clearfix
              .service-thumnail
                .thumnail-content
                  = image_tag @post.image.to_s, class:"img"
              .header-info
                .service-title
                  = @post.title
                .service-subtitle
                  = @post.subtitle
                = link_to "/categories/#{@post.category_id}" do
                  .service-category
                    %span= @post.category.name
            / sp contents
            .thumnails
          .box-title
            %h2
              %i.fas.fa-check-circle>
              サービス概要
          %section.box-about
            .description
              = text_url_to_link(simple_format(h(@post.content))).html_safe
          - unless @post.relateds
            .box-title
              %h2
                %i.fas.fa-star>
                関連リンク
            %section.box-related
              .relateds
          .box-title
            %h2
              %i.fas.fa-comments>
              コメント
          %section.box-comment
            .people-container.clearfix
              .poster-box
                %span.pos-div このサービスを投稿してくれた人
                .poster
                  = link_to "/users/#{@post.user.id}" do
                    .people-userImg
                      = image_tag @post.user.image.to_s, class:"userImg"
                    .poster-name
                      = @post.user.name
              /
                <div class="developer-box">
                <span class="pos-div">サービス提供者</span>
                <div class="developer">
                <haml_loud> link_to &quot;/users/\#{@post.user.id}&quot; do </haml_loud><haml_block>
                <div class="people-userImg">
                <haml_loud> image_tag @post.user.image.url, class:&quot;userImg&quot; </haml_loud>
                </div>
                <div class="developer-name">
                <haml_loud> @post.user.name </haml_loud>
                </div>
                </haml_block>              </div>
                </div>
            = render partial: "comments", locals:{ post: @post, comments: @comments}
      %aside
        .sub-content
          = render partial: "side", locals: {post: @post, posts: @posts, likes: @likes, like: @like}
      .p-footerBar--transparent.u-displaySp.is-show
        .p-footerBar__inner
          .p-articleAction.is-ios
            .p-articleAction__share.p-articleAction__share--first
              = link_to "https://twitter.com/intent/tweet?url=https://appstimes.jp/posts/#{@post.id}&text=#{@post.title}%20+#{@post.subtitle}%0a&via=AppsTimes", class:'twitter-share-button', target: '_blank'   do
                .sns_circle-twitter
                  %span.f-icon-twitter
                    %i.fab.fa-twitter
            .p-articleAction__share.p-articleAction__share--first{"data-href" => "https://developers.facebook.com/docs/plugins/", "data-layout" => "button", "data-mobile-iframe" => "true", "data-size" => "large"}
              = link_to "https://www.facebook.com/sharer/sharer.php?u=https://appstimes.jp/posts/#{@post.id}}", class:"fb-xfbml-parse-ignore", class:'facebook-share-button', target: '_blank'   do
                .sns_circle-facebook
                  %span
                    %i.fab.fa-facebook-f
            .p-articleAction__share.p-articleAction__share--first
              = link_to "http://b.hatena.ne.jp/entry/s/appstimes.jp/posts/#{@post.id}", class:'hatena-share-button', target: '_blank'   do
                .sns_circle-hatena
                  %span= image_tag "hatenabookmark.svg", class:"f-icon-hatebu"
                %script{:async => "async", :charset => "utf-8", :src => "https://b.st-hatena.com/js/bookmark_button.js", :type => "text/javascript"}
            .p-articleAction__share.p-articleAction__share--first
              = link_to "https://social-plugins.line.me/lineit/share?url=https://appstimes.jp/posts/#{@post.id}&text=#{@post.title}+#{@post.subtitle}+%0ahttps://appstimes.jp/posts/#{@post.id}", class:'line-share-button', target: '_blank' do
                .sns_circle-line
                  %span.f-icon-line= image_tag "line.svg"
