
<div class="pc-head-banner category-page">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- 【PC】TOP -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:970px;height:90px"
       data-ad-client="ca-pub-9870776519307971"
       data-ad-slot="9157678259"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<div class="sp-head-banner container">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- 【モバイル】TOP/カテゴリー/ランキング -->
  <ins class="adsbygoogle"
  style="display:inline-block;width:320px;height:50px"
  data-ad-client="ca-pub-9870776519307971"
  data-ad-slot="9628273935"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<div class="container1 category-p">
  <div class="content clearfix">
    <div class="date">
      <h3 style="padding-left:16px;"><%= @category.slug%>
      <span class="category-describe"><%= @category.name %>カテゴリー</span></h3>
      </h3>

    </div>

  <div class="postsList">
    <% @post.each do |post| %>
    <%= link_to "/posts/#{post.id}" do %>
      <div class="post">
       <div class="post-in">

        <div class="post-thumnail">
          <%= image_tag post.image, class:"post-img" %>
        </div>

        <div class="post-title">
          <span><%= post.title %></span>
        </div>

        <div class="post-subtitle">
          <span><%= post.subtitle %></span>
        </div>

        <div class="post-date clearfix">
          <%= link_to "/categories/#{post.category_id}" do %>
            <div class="category">
              <span><%= post.category.name %></span>
            </div>
          <% end %>
          <div class="service-link">
            <%= link_to post.service_url, target:"_blank" do %>
            <i class="fas fa-link"></i>
            <% end %>
          </div>
        </div>

        <div class="overview">
          <div id="likes-count" class="likes-count-<%= post.id %>">
            <%= render partial: "/likes/like", locals: {post: post, likes: @likes, like: @like} %>

          </div>
          <%= link_to "/posts/#{post.id}" do %>
            <div class="comments-count">
              <i class="fas fa-comment-alt"></i>
              <span><%= post.comments.count %> </span>
            </div>
          <% end %>
       </div>


        <div class="sp-overview clearfix">
          <%= link_to "/users/#{post.user.id}" do %>
          <div class="sp-post-user-image">
            <span><%= image_tag post.user.image, class:"post-user-image" %></span>
          </div>
          <% end %>

          <div class="sp-post-date clearfix">
            <%= link_to "/categories/#{post.category_id}" do %>
              <div class="category">
                <span><%= post.category.name %></span>
              </div>
            <% end %>
          </div>
          <div class="sp-likes-comments clearfix">
             <div id="sp-likes-count" class="sp-likes-count-<%= post.id %>">
              <%= render partial: "/likes/splike", locals: {post: post, posts: @posts, likes: @likes, like: @like} %>
            </div>
          </div>
        </div>


<!--         <div class="destroy">
          <%= link_to "削除", "/posts/#{post.id}", method: :delete %>
        </div> -->
       </div>
      </div>
    <% end %>
    <% end %>
    </div>
  </div>
</div>

<div class="page-load-status">
    <%= paginate @post %>
</div>
