<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <title>AppsTimes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'icomoon', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato|Quicksand" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>

  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108095747-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-108095747-1');
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9870776519307971",
            enable_page_level_ads: true
       });
  </script>

<script type="text/javascript">
$(document).on('turbolinks:load', function () {
    var myTarget = $(".current");
    var myIndex = $(".horizontal_scroll .globalNav_item").index(myTarget);
    var scrollvalue = 60 * myIndex;
    $('.horizontal_scroll').scrollLeft(scrollvalue);
});
</script>

<script type="text/javascript">
$(document).on('turbolinks:load', function () {
  $('.max-600.wrapper a').each(function(){
    $href = $(this).prop('href')
    if(location.href === $href) {
      $(this).addClass('active');
    } else {
      $(this).removeClass('active');
    }
  });
});
</script>

<script type="text/javascript">
$(document).on('turbolinks:load', function() {
  if ( $("#userComment").val().length == 0 ) {
    $(".commentSubmit").css("display", "none");
  }

  $("#userComment").on("keydown keyup keypress change", function() {
    if ($(this).val().length > 0) {
      $(".commentSubmit").show();
    }
  });
});
</script>



</head>
<body>

  <!-- FB share -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.2&appId=140825753239326&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <header>
    <div class="header clearfix">

      <div class="atLogo">
        <%= link_to "/" do %>
          <%= image_tag "apst-logo.jpg", class:"logo-img" %>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <div class="st-userNav">
          <%= link_to "/posts/new", class:"link-to-post" do %>
          <span>投稿する</span>
          <% end %>

          <div class="accbox">
            <div class="box-userImg1">
              <label for="label1">
                <div class="st-Header_loginUser">
                  <%= image_tag current_user.image.url, class: "header-userImg" %>
                  <span class="fa fa-caret-down ml-1"></span>
                </div>

              </label>
              <input type="checkbox" id="label1" class="cssacc" />
              <div class="accshow">


                <%= link_to "マイページ", "/users/#{current_user.id}", class:"mypage"%>


                <%= link_to "お気に入り", "/users/#{current_user.id}/fav", class:"myfav"%>



                <%= link_to "投稿したサービス", "/users/#{current_user.id}/", class:"mypost"%>

                <%= link_to "設定", "/users/#{current_user.id}/edit", class:"setting"%>

                <%= link_to "ログアウト", destroy_user_session_path, class:"logout",method: :delete%>
                <div class="follow-at">
                  <div class="heading">
                    AppsTimesをフォローして<br>
                    最新情報をチェック！
                  </div>
                  <div class="link-to-sns">
                    <a href="https://twitter.com/AppsTimes?ref_src=twsrc%5Etfw" class="twitter-follow-button data-show-screen-name="false" data-lang="ja" data-show-count="false" target="_blank"><span class="f-icon-twitter-follow"><i class="fab fa-twitter follow "></i>フォローする</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% else %>
        <div class="userNav">
          <div class="signIn">
            <%= link_to new_user_session_path do %>
              <span>ログイン</span>
            <% end %>
          </div>
          <div class="signUp">
            <%= link_to new_user_registration_path do %>
              <span>新規登録</span>
            <% end %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>

<% if @categories %>
    <div class="globalNav">
      <div class="horizontal_scroll clearfix">
          <div class="globalNav_item">
            <%= link_to root_path, method: :get do %>

              <span>HOME</span>
            <% end %>
          </div>

          <div class="globalNav_item">
            <%= link_to "/ranking", method: :get do %>
              <span>ランキング</span>
            <% end %>
          </div>
        <% @categories.each do |category| %>
          <div class="globalNav_item">
            <%= link_to "/categories/#{category.id}", method: :get do%>
                <span><%= category.name %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
<% end %>


  </header>

<%= yield %>

  <% unless flash.empty? %>
  <script type="text/javascript">
    <% flash.each do |f| %>
    <% type = f[0].to_s.gsub('alert','error').gsub('notice','info') %>
    toastr['<%= type %>']('<%= f[1] %>');
    <% end %>
  </script>
  <% end %>


  <footer>
    <div class="info-box clearfix">
      <div class="lists clearfix">
        <%= link_to "https://advance-p.net/aboutus/", target:"_blank" do %>
        <span class="info-list">運営会社</span>
        <% end %>
        <%= link_to "https://appstimes.jp/privacy", target:"_blank" do %>
        <span class="info-list">プライバシーポリシー</span>
        <% end %>
        <span class="info-list copyright"><i class="far fa-copyright"></i>2018 AppsTimes</span>
      </div>
    </div>
  </footer>

</body>
</html>
