<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <title>AppsTimes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'icomoon', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato|Quicksand" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>


  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108095747-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-108095747-1');
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9870776519307971",
            enable_page_level_ads: true
       });
  </script>

<script>
$(function(){
  $('.globalNav_item a ').each(function(){
    $href = $(this).prop('href')
    if(location.href === $href) {
      $(this).parent().addClass('current');
    } else {
      $(this).parent().removeClass('current');
    }
  });
});
</script>

<<script>
  $(window).load(function() {
    var myTarget = $(".current");
    var myIndex = $(".horizontal_scroll .globalNav_item").index(myTarget);
    var scrollvalue = 60 * myIndex;
    $('.horizontal_scroll').scrollLeft(scrollvalue);
});
</script>





</head>
<body>

  <!-- FB share -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.2&appId=140825753239326&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <header>
    <div class="header clearfix">

      <div class="atLogo">
        <%= link_to "/" do %>
          <%= image_tag "apst-logo.jpg", class:"logo-img" %>
        <% end %>
      </div>


      <div class="userNav">
        <% if user_signed_in? %>

            <%= link_to "/posts/new", class:"link-to-post" do %>
              <div class="postProduct">
                    <i class="fas fa-rocket"></i>
                    <span>＋</span>
              </div>
            <% end %>

      <div class="accbox">
          <div class="box-userImg1">
            <label for="label1">
              <div class="userImg">
                <%= image_tag current_user.image %>
              </div>
            </label>
            <input type="checkbox" id="label1" class="cssacc" />
            <div class="accshow">

            <div class="mypage">
              <%= link_to "マイページへ", "/users/#{current_user.id}"%>
            </div>
             <%= link_to "ログアウト", destroy_user_session_path, class:"logout",method: :delete%>
              <div class="follow-at">
                <div class="heading">
                  AppsTimesをフォローして<br>
                  最新情報をチェック！
                </div>
                <div class="link-to-sns">
                  <a href="https://twitter.com/AppsTimes?ref_src=twsrc%5Etfw" class="twitter-follow-button data-show-screen-name="false" data-lang="ja" data-show-count="false" target="_blank"><span class="f-icon-twitter-follow"><i class="fab fa-twitter follow "></i>フォローする</span></a>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>


        <% else %>

          <div class="signIn">
            <%= link_to new_user_session_path do %>
              <span>ログイン</span>
            <% end %>
          </div>
          <div class="signUp">
            <%= link_to new_user_registration_path do %>
              <span>新規登録</span>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

<% if @categories %>
    <div class="globalNav">
      <div class="horizontal_scroll clearfix">
          <div class="globalNav_item">
            <%= link_to root_path, method: :get do %>

              <span>HOME</span>
            <% end %>
          </div>

          <div class="globalNav_item">
            <%= link_to "/ranking", method: :get do %>
              <span>ランキング</span>
            <% end %>
          </div>
        <% @categories.each do |category| %>
          <div class="globalNav_item">
            <%= link_to "/categories/#{category.id}", method: :get do%>
                <span><%= category.name %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
<% end %>


  </header>

<%= yield %>

  <footer>
    <div class="info-box clearfix">
      <div class="lists clearfix">
        <%= link_to "https://advance-p.net/aboutus/", target:"_blank" do %>
        <span class="info-list">運営会社</span>
        <% end %>
        <%= link_to "https://appstimes.jp/privacy", target:"_blank" do %>
        <span class="info-list">プライバシーポリシー</span>
        <% end %>
        <span class="info-list copyright"><i class="far fa-copyright"></i>2018 AppsTimes</span>
      </div>
    </div>
  </footer>
</body>
</html>
